<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pretest-akakom</property>
    <property name="hibernate.connection.username">admin</property>
    <property name="hibernate.connection.password">localhost</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <mapping class="pretest.entity.PertemuanPraktikum"/>
    <mapping class="pretest.entity.Mahasiswa"/>
    <mapping class="pretest.entity.JawabanBs"/>
    <mapping class="pretest.entity.JawabanMc"/>
    <mapping class="pretest.entity.NilaiBs"/>
    <mapping class="pretest.entity.NilaiMc"/>
    <mapping class="pretest.entity.Praktikum"/>
    <mapping class="pretest.entity.SoalBs"/>
    <mapping class="pretest.entity.SoalMc"/>
  </session-factory>
</hibernate-configuration>
